* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-wrap {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.ball {
    background: black;
    position: absolute;
    border-radius: 50%;
    z-index: 9999;
}

.hole {
    background: gray;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #fff;
}

.hole.active {
    background: red;
}

.game-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 22px;
    text-align: center;
    color: #fff;

}